# Add any directories, files, or patterns you don't want to be tracked by version control
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
UIAdaptation_index.html
changes_preview.js
sap-ui-cachebuster-info.json
extended_runnable_file.html
.*/extended_runnable_file.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
fioriHtmlRunner.html
.*/fioriHtmlRunner.html
visual_ext_index.html
/webapp/visual_ext_index.html
