<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="width: 600px;margin: auto;padding: 0;font-family: Arial, Helvetica, sans-serif;font-size: 14px;color: #333">
<!-- gold bar -->
<table cellspacing="0" cellpadding="0" width="600px" class="header"
       style="border-bottom-style: solid;border-bottom-color: #F0AB00;border-bottom-width: 8px;padding-top: 13px;
       padding-bottom: 12px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        </td>
        <td align="right" style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        </td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main_first"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 36px;padding-bottom: 12px">
            <h1 style="font-family: Arial, Helvetica, sans-serif;font-weight: bold;font-size: 20px;color: #555;margin-bottom: 24px">
                Estimado(a), ${usuarioNotificacion}</h1>
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px;text-align: justify">
                Se informa que <b>${nombrePreProveedor}</b> registró su solicitud de proveedor en el portal de COGA.
               <br/>
            </p>
        </td>
    </tr>
</table>

<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td align="middle" class="cta_container"
            style="border-collapse: collapse; width: 600px; padding: 0; margin: 0; padding-top: 36px; padding-bottom: 36px">
            <a href="${url}" id="activation-link" class="cta"
               style="font-family: Arial, Helvetica, sans-serif;color: #fff;background-color: #226ca9;background: #226ca9;background-image: linear-gradient(top, #008fcc, #2b3f7b);border-radius: 4px;font-size: 16px;text-decoration: none;padding: 8px 12px">
                Para acceder al portal click aquí</a></td>
    </tr>
</table>


<table cellspacing="0" cellpadding="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="main_last"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;padding-top: 12px;padding-bottom: 36px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 14px;line-height: 18px">
                Atentamente,<br/>
                COGA - Compa&ntilde;&iacute;a Operadora de Gas S.A.C. </p>
        </td>
    </tr>
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">

        </td>
        <td align="right" style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
            <div class="companylogo" style="height: 45px;overflow: hidden">

                <img src="http://www.coga.com.pe/media_coga/uploads/home/logo_coga/logo_orig_transp_543x343.png"
                     width="100" height="100"
                     style="border: 0;height: 45px;line-height: 100%;outline: none;text-decoration: none;width: auto"/>

            </div>
            <p>&nbsp;</p>
        </td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" width="600px">
    <tr style="border-collapse: collapse;width: 600px;padding: 0;margin: 0">
        <td class="colophon"
            style="border-collapse: collapse;width: 600px;padding: 0;margin: 0;font-size: 11px;color: #888;line-height: 13px">
            <p style="font-family: Arial, Helvetica, sans-serif;font-size: 11px;line-height: 13px;color: #888">
                Este correo electr&oacute;nico puede contener secretos comerciales o informaci&oacute;n privilegiada, no
                divulgada o
                confidencial.
                Si recibi&oacute; este correo electr&oacute;nico por error, se le notifica que cualquier revisi&oacute;n,
                copia o
                distribuci&oacute;n
                est&aacute; estrictamente prohibida. Por favor, inf&oacute;rmenos de inmediato y destruya la transmisi&oacute;n
                original.
                Gracias por su cooperaci&oacute;n.
            </p>
        </td>
    </tr>
</table>
<hr>

</body>
</html>